<%- include('../includes/newHeader.ejs') %>
<style>
    .plus-button {
      border: 2px solid lightgrey;
      background-color: #fff;
      font-size: 16px;
      height: 2.5em;
      width: 2.5em;
      border-radius: 999px;
      position: relative;
  }
      .plus-button:after,
      .plus-button:before {
          content: "";
          display: block;
          background-color: green;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
      
      .plus-button:before {
          height: 1em;
          width: 0.2em;
      }
  
      .plus-button:after {
          height: 0.2em;
          width: 1em;
      }
    .close {
      position: relative;  
      display: block;
      width: 50px;
      height: 50px;
      font-size: 0;
  }
  .close:before, 
  .close:after {
      position: absolute;
      top: 80%;
      left: 50%;
      width: 5px;
      height: 20px;
      background-color: red;
      transform: rotate(45deg) translate(-50%, -50%);
      transform-origin: top left;
      content: '';
  }
  .close:after {
      transform: rotate(-45deg) translate(-50%, -50%);
  }
  </style>
  <div class="container my-4  mx-auto rounded border">
      <h2 class="text-center my-2">Company Registration Form View/Edit</h2>
      <div class="container mx-20 my-2 ">
        <% if(message){ %>
          <h2 class="text-center alert alert-success"><%= message %></h2>
          <% } %>
          <form class="needs-validation" novalidate method="POST" action="/employee/company-master-edit" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="validationCustom01">Company Name</label>
                  <input type="hidden" name="id" value="<%= company.id %>">

                  <input type="text" class="form-control" id="validationCustom01" name="company_name" placeholder="Enter Company Name" value="<%= company.company_name %>" readonly required >
                  <div class="invalid-feedback">
                    Please provide company name!
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label for="validationCustom02">Address</label>
                  <textarea type="text" class="form-control" id="validationCustom02" name="address" placeholder="Enter Address" readonly ><%= company.address %></textarea>
                  <div class="invalid-feedback">
                    Please Provide address!
                  </div>
                </div>         
              </div>
              <div class="row">          
                <div class="col-md-3 mb-3">
                  <label for="validationCustom04">Email</label>
                  <input type="text" class="form-control" id="validationCustom04" name="email" placeholder="Enter Email" readonly value="<%= company.email %>" >
                  <div class="invalid-feedback">
                    Please provide email.
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationCustom05">Phone No</label>
                  <input type="text" class="form-control" id="validationCustom05" name="phone" placeholder="Enter Phone No" readonly value="<%= company.phone %>" >
                  <div class="invalid-feedback">
                    Please provide phone no.
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationCustom03">Type</label>
                  <select class="form-select" id="validationCustom03" name="type" readonly onchange="selectType(this.value)" >
                    <option value="0">Select</option>
                    <% if(company.type==1){ %>
                    <option value="1" selected>Proprietorship</option>
                    <option value="2">Pvt Ltd.</option>

                    <% }else{ %>
                    <option value="1">Proprietorship</option>
                    <option value="2" selected>Pvt Ltd.</option>
                      <% } %>
                  </select>
                  <div class="invalid-feedback">
                    Please select type.
                  </div>
                </div>
              </div>
              <!-- <div class="row" id="prop_row" style="display: none;">    -->
                <% if(company.type==1){ %>
                <div class="row" id="prop_row" >   
                  <% }else{ %>
                <div class="row" id="prop_row" style="display: none;" >   
                  <% } %>
                <h3>Proprietor</h3>             
                <div class="col-md-3 mb-3">
                  <label for="validationCustom04">Proprietor</label>
                  <input type="text" class="form-control" id="validationCustom04" readonly name="proprietor" placeholder="Enter Proprietor Name" value="<%= company.proprietor %>" >
                  <div class="invalid-feedback">
                    Please provide a proprietor name.
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationCustom05">Phone</label>
                  <input type="text" class="form-control" id="validationCustom05" readonly name="proprietor_phone" placeholder="Enter Phone No" value="<%= company.proprietor_phone %>">
                  <div class="invalid-feedback">
                    Please provide a Phone No.
                  </div>
                </div>
              </div>
              <% if(company.type==2){ %>
              <div class="row" id="pvt_row">   
              <% }else { %>
              <div class="row" id="pvt_row" style="display: none;">   
                <% } %>   
                <h3>Pvt Ltd.</h3>             
  
                <div class="col-md-3 mb-3">
                Director No
                  <input type="number" style="width: 30px; border-radius: 10px; text-align: center;" readonly id="directorNo" readonly value="<%= company.company_pvtltds.length %>" >
                  <span style="margin-left: 10px; cursor: pointer;" id="addD" class="plus-button"></span>
  
                </div>
              </div>
              <div id="directorRow">
                <% if(company.company_pvtltds.length>0){ 
                  i=1;
                    for( let pvt of company.company_pvtltds){  
                  %>
                  <div class="row" id="dir<%= i %>">                
                    <div class="col-md-3 mb-3">
                      <label for="validationCustom04">Director Name</label>
                      <input type="text" class="form-control" id="validationCustom04" readonly name="director_name[]" placeholder="Enter Director Name" value="<%= pvt.director_name %>">
                      <div class="invalid-feedback">
                        Please provide a director name.
                      </div>
                    </div>
                    <div class="col-md-2 mb-3">
                      <label for="validationCustom05">Pan</label>
                      <input type="text" class="form-control" id="validationCustom05" readonly name="director_pan[]" placeholder="Enter Director Pan" value="<%= pvt.pan %>">
                      <div class="invalid-feedback">
                        Please provide director Pan.
                      </div>
                    </div>                    
                    <div class="col-md-2 mb-3">
                      <label for="validationCustom03">Phone No</label>
                      <input type="text" class="form-control" id="validationCustom03" readonly name="director_phone[]" placeholder="Enter Phone No" value="<%= pvt.phone %>">
                      <div class="invalid-feedback">
                        Please provide a DIN No.
                      </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label for="validationCustom03">DIN No</label>
                        <input type="text" class="form-control" id="validationCustom03" readonly name="din[]" placeholder="Enter DIN No" value="<%= pvt.din %>">
                        <div class="invalid-feedback">
                          Please provide a DIN No.
                        </div>
                      </div>
                      <div class="col-md-2 mb-3">
                        <span onclick="deleteDirector(<%= i %>,<%= pvt.id %>)" style="cursor:pointer" class="close"></span>
                      </div>
                  </div>
       
                <%  i=i+1 } } %>
              </div>
              <div class="row">                
                  <div class="col-md-3 mb-3">
                    <label for="validationCustom04">PAN</label>
                    <input type="text" class="form-control" id="validationCustom04" readonly name="pan" value="<%= company.pan %>" placeholder="Enter Pan Number" >
                    <div class="invalid-feedback">
                      Please provide a pan number.
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationCustom05">TAN</label>
                    <input type="text" class="form-control" id="validationCustom05" readonly name="tan" value="<%= company.tan %>" placeholder="Enter TAN" >
                    <div class="invalid-feedback">
                      Please provide a TAN.
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                      <label for="validationCustom03">GSTIN</label>
                      <input type="text" class="form-control" id="validationCustom03" readonly name="gstin" value="<%= company.gstin %>" placeholder="Enter GSTIN No" >
                      <div class="invalid-feedback">
                        Please provide a GSTIN No.
                      </div>
                    </div>
                </div>
                <div class="row">                
                  <div class="col-md-3 mb-3">
                    <label for="validationCustom04">PF CODE</label>
                    <input type="text" class="form-control" id="validationCustom04" readonly name="pf" value="<%= company.pf %>" placeholder="Enter PF" >
                    <div class="invalid-feedback">
                      Please provide a PF number.
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationCustom05">PTAX CODE</label>
                    <input type="text" class="form-control" id="validationCustom05" readonly name="ptax" value="<%= company.ptax %>" placeholder="Enter PTAX" >
                    <div class="invalid-feedback">
                      Please provide a PTAX.
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                      <label for="validationCustom03">LWF CODE</label>
                      <input type="text" class="form-control" id="validationCustom03" readonly name="lwf" value="<%= company.lwf %>" placeholder="Enter LWF Code" >
                      <div class="invalid-feedback">
                        Please provide a LWF.
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationCustom04">ESIC</label>
                      <input type="text" class="form-control" id="validationCustom04" readonly name="esic" value="<%= company.esic %>" placeholder="Enter ESIC" >
                      <div class="invalid-feedback">
                        Please provide a ESIC.
                      </div>
                    </div>
                </div>
                <div class="row">          
                  <div class="col-md-3 mb-3">
                    <label for="validationCustom05">Bank A/C</label>
                    <input type="text" class="form-control" id="validationCustom05" readonly name="bank_ac" value="<%= company.bank_ac %>" placeholder="Enter Bank A/C" >
                    <div class="invalid-feedback">
                      Please provide a Bank A/C.
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                      <label for="validationCustom03">IFSC</label>
                      <input type="text" class="form-control" id="validationCustom03" readonly name="ifsc" value="<%= company.ifsc %>" placeholder="Enter GSTIN No" >
                      <div class="invalid-feedback">
                        Please provide a GSTIN No.
                      </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <label for="validationCustom03">Bank Name</label>
                      <input type="text" class="form-control" id="validationCustom03" readonly name="bank_name" value="<%= company.bank_name %>" placeholder="Enter Bank Name" >
                      <div class="invalid-feedback">
                        Please provide a Bank Name.
                      </div>
                    </div>
                </div>
                <div class="row">           
                  <h3>Uploads</h3>     
                  <div class="col-md-4 mb-3">
                    <label for="validationCustom04">Logo</label>
                  
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationCustom04">Authorized Signature</label>
                    
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationCustom04">Stamp</label>
                  
                  </div>
               
                  
                </div>
                <div class="row">           
                  <div class="col-md-4 mb-3">
                    <img id="previewLogo" src="../../<%= company.logo %>" class="border border-2 img-fluid" height="100px" width="100px" />
                  </div>
                  <div class="col-md-4 mb-3">
                    <img id="previewSignature" src="../../<%= company.signature %>" class="border border-2 img-fluid"  height="100px" width="100px" />
                  </div>
                  <div class="col-md-4 mb-3">
                    <img id="previewStamp" src="../../<%= company.stamp %>" class="border border-2 img-fluid"  height="100px" width="100px" />
                  </div>
                  </div>              
               
              <a href="/employee/company-master"><button class="btn btn-primary" type="button">Go Back</button></a>
            </form>
            
            <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
              'use strict';
              window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                  }, false);
                });
              }, false);
            })();
            </script>
      </div>
  </div>
  <script>
    function selectType(val){
      if(val==1){
        document.getElementById('prop_row').style.display="";
        document.getElementById('pvt_row').style.display="none";
      }else if(val==2){
        document.getElementById('pvt_row').style.display="";  
        document.getElementById('prop_row').style.display="none";  
      }else{
        
        document.getElementById('pvt_row').style.display="none";  
        document.getElementById('prop_row').style.display="none";  
      }
    }
    document.getElementById('addD').onclick= addDirector;
    var directorNo = 0;
    function addDirector(){
      document.getElementById('directorNo').value=parseInt(document.getElementById('directorNo').value)+1;
  directorNo++;
      var addRow=`
      <div class="row" id="dir${directorNo}">                
                  <div class="col-md-3 mb-3">
                    <label for="validationCustom04">Director Name</label>
                    <input type="text" class="form-control" id="validationCustom04" name="director_name[]" placeholder="Enter Director Name" >
                    <div class="invalid-feedback">
                      Please provide a director name.
                    </div>
                  </div>
                  <div class="col-md-2 mb-3">
                    <label for="validationCustom05">Pan</label>
                    <input type="text" class="form-control" id="validationCustom05" name="director_pan[]" placeholder="Enter Director Pan" >
                    <div class="invalid-feedback">
                      Please provide director Pan.
                    </div>
                  </div>
                  
                <div class="col-md-2 mb-3">
                    <label for="validationCustom03">Phone No</label>
                    <input type="text" class="form-control" id="validationCustom03" name="director_phone[]" placeholder="Enter Phone No" >
                    <div class="invalid-feedback">
                      Please provide a Phone No.
                    </div>
                  </div>
                  <div class="col-md-2 mb-3">
                      <label for="validationCustom03">DIN No</label>
                      <input type="text" class="form-control" id="validationCustom03" name="din[]" placeholder="Enter DIN No" >
                      <div class="invalid-feedback">
                        Please provide a DIN No.
                      </div>
                    </div>
                    <div class="col-md-2 mb-3">
                      <span onclick="deleteDirector(${directorNo},0)" style="cursor:pointer" class="close"></span>
                    </div>
                </div>
      `;
  
     //  document.getElementById('directorRow').append(addRow);
    document.getElementById('directorRow').insertAdjacentHTML('beforeend', addRow);
  
    }
  
    function deleteDirector(id,pvtid){
      var rowToDelete = "dir"+id;
      if(pvtid!=0){
        $.ajax({
        type: 'DELETE',
        url: '/employee/removeDirector',
        data: {id:pvtid},
        success: function(data) {
              console.log(data);
        }
      });
      }
      document.getElementById('directorNo').value=parseInt(document.getElementById('directorNo').value)-1;
  directorNo--;
      //document.getElementById(rowToDelete).style.display="none";
      document.getElementById('directorRow').removeChild(document.getElementById(rowToDelete));
    }
  </script>
      <%- include('../includes/footer.ejs') %>
      <script>
        function showPreview(event,previewId){
                   //document.getElementById("isImage").value = "1";
                   if(event.target.files.length > 0){
                       let src = URL.createObjectURL(event.target.files[0]);
                       //$("#photo").val(event.target.files[0].size/1024);
                       let preview = document.getElementById(previewId);
                       preview.src = src;
                       preview.style.width = "120px";
                       preview.style.height = "150px";
                       preview.style.border = "1px solid black";
                       preview.style.display = "block";
                   } 
               }
               function showPreviews(event){
                   //document.getElementById("isImage").value = "1";
                  var div = document.getElementById('previewDocuments');
                  div.innerHTML="";
                   if(event.target.files.length > 0){
                     for(var i=0;i<event.target.files.length;i++){
                       let src = URL.createObjectURL(event.target.files[i]);
                       let preview = document.createElement('img');                 
                       preview.src = src;
                       preview.style.width = "120px";
                       preview.style.height = "150px";
                       preview.style.display = "block";                 
                       preview.style.border = "1px solid black";
                       preview.style.marginLeft = "10px";
                       div.appendChild(preview);
                     }
                   } 
               }

     
       </script>