<%- include('../includes/newHeader.ejs') %>

  <div class="container my-4  mx-auto rounded border">
    <h2 class="text-center my-2"> Reports Upload</h2>
    <div class="container mx-20 my-2 ">
        <form class="needs-validation" novalidate method="post" enctype="multipart/form-data">
            <% if(message){ %>
              <h2 class="text-center alert alert-success"><%= message %></h2>
              <% } %>
            <div class="row">       
              <!-- <div class="col-md-4 mb-3">
                  <label for="validationCustom02">Company</label>
                  <select class="form-select " id="company" name="company" onchange="getClient(this.value)" placeholder="Select Company Name "required>
                    <option value="">--SELECT--</option>
                    <% if(companies.length>0){ %>
                        <% for(let company of companies){ %>
                    <option value="<%= company.id %>"><%= company.company_name %></option>
                        <% } } %>
                </select>
                  <div class="invalid-feedback">
                    Please select company!
                  </div>
                </div> 
                <div class="col-md-4 mb-3">
                  <label for="validationCustom02">Client</label>
                  <select class="form-select " id="clientSelect" name="client" placeholder="Select Client Name ">
                 
                  </select>
                  <div class="invalid-feedback">
                    Please select client!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="validationCustom02">Month</label>
                  <input type="month" class="form-control" id="month" name="month" required>                       
                  <div class="invalid-feedback">
                    Please select month and year!
                  </div>
                </div> -->
                <div class="col-md-3 mb-3 ">
                  <label for="validationCustom05 ">Excel File</label>
                  <input type="file" class="form-control " name="tic" id="validationCustom05" placeholder="Choose Photo " >
                  <div class="invalid-feedback ">
                      Please provide TIC.
                  </div>
              </div>

            </div>   
           
                  
            <button class="btn btn-primary" type="submit">Upload Data</button>
          </form>
          
      
    </div>
</div>
<script>
      function getClient(val){
        $.ajax({
        type: 'POST',
        url: '/employee/getClientForCompany',
        data: {val:val},
        success: function(clients) {
            var html = '';
            html+='<option value="">--SELECT--</option>';
            for (var i = 0; i< clients.length; i++) {
            html+=`
            <option value="${clients[i].id}">${clients[i].client_name}</option>
            `
         }
        $('#clientSelect').html(html);
        }
      });         
 
    }
 
</script>
<%- include('../includes/footer.ejs') %>
